<% provide(:title, 'Sign in') %>
<h1>Sign in</h1>

<div class="row">
  <%= form_for(:session, url: sessions_path) do |f| %>
  <div class="span1 offset3">
      <%= f.label :name %>
  </div>
  <div class="span5">
      <%= f.text_field :name %>
  </div>
</div>
<div class="row">
  <div class="span1 offset3">
      <%= f.label :password %>
  </div>
  <div class ="span5">
      <%= f.password_field :password %>
  </div>
</div>
<div class="row">
  <div class="span6 offset4">
      <%= f.submit "Sign in", class: "btn btn-large btn-primary"%>
  </div>
    <% end %>
</div>
<p></p>
