<%= provide(:title, 'Contact') %>
<h1>Contact</h1>
<div class= "row" >
  <div class="span1 offset2">
    <h2>Name</h2>
  </div>
  <div class="span1 offset1">
    <h2>Email</h2>
  </div>
  <div class="span1 offset2">
    <h2>Position</h2>
  </div>
</div>
<p></p>
<% @users.each do |user| %>
  <% if !user.position.nil? %>
    <div class="row">
      <div class="span1 offset1">
         <%= gravatar_for user, size: 52 %>    
      </div>
      <div class = "span2">
         <%= link_to user.full_name, user %>
      </div>
      <div class = "span3" >
        <a href="mailto:<% user.email%>"><%= user.email %></a>
      </div>
      <div class = "span2" >
        <%= user.position %>
      </div>
  </div>
    <p></p>
  <%end%>
<%end%>
