<h1>MSPS</h1>
<div class='center'>
  <% if signed_in? %>
    <%= button_to "New post", new_post_path, method: "get" %>
  <% end%>
</div>

<% @posts.reverse!.each do |p| %>
  <div class="row">
      <h3><%= link_to p.title, post_path(p) %></h3>
        <p></p> 
        <p><% if p.content.length > 300 %>
          <%= p.content.truncate(300) %>    <%= link_to "more", post_path(p)%>
        <% else %>
          <%= p.content %>
        <%end%></p>
        <%= render 'bottom', p: p%>
  </div>
  <p></p>
  <br />
<%end%>
